#header{
    margin:10px 0;
}
.title-top{
    font-size:22px;
    line-height: 22px;
}
input[type="submit"],input[type="button"],button{
    display:inline-block;
}
#col-nav{
    margin-top:10px;
}
/********** gmap3 ***********/
.gmap3{
    margin: 5px 0;
    padding:5px;
    border: 1px solid #C0C0C0;
    height: 400px;
    font-size:12px;
}
#r-directions{
    border: 1px solid #C0C0C0;
    margin: 5px 0;
    padding:5px;
    overflow:auto;
    font-size:12px;
    display:none;
    max-height: 400px;
}
.map_loader {
    position:relative;
    margin-top:25%;
    left: 48%;
    margin-left: -16px;
}
/**
 * jQuery UI autocomplete
 */
.ui-autocomplete {
    background-color: white;
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    z-index:1003 !important;
    z-index:1003;
}
.ui-autocomplete-loading { background: white url(/framework/img/small_loading.gif) right center no-repeat; }